/* {
  font-family: 'Abril Fatface',
  cursive;
  background-color: deepskyblue;
  color: black;
}

body {
  background-color: beige;
}
footer {
  margin: auto;
  text-align: center;
  position: fixed;
  width: 100%;
  margin-top: 0em;
  float: bottom;
  bottom: 0;
}



.signIn {
  margin: auto;
}
.clearfix {
  overflow: auto;}*/
  
  
  .right{
    float: right;
  }

  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(139, 136, 136);
    color: black;
    text-align: center;
 }

.random-students{
  border: 2px solid black; 
  background: #F5DEB3; 
  width: 50%; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: inset 3px 4px  5px 6px #416C6B;
}

.signup-form{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 300px;
  padding: 20px;
  border: 3px solid #00B5B0;
  width: 50%;
  background: #BCC7D9;
  box-shadow: inset  3px 4px  5px 6px rgba(0, 0, 0, 0.611);
}
