/* /* {
  font-family: 'Abril Fatface',
  cursive;
  background-color: deepskyblue;
  color: black;
} */

#map {
  height: 50%;
  width: 50%;
}

html,
body {
  height: 100%;
  widows: 50;
  margin: 0;
  padding: 0;
}

  .right{
    float: right;
  }

  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(139, 136, 136);
    color: black;
    text-align: center;
 }